Main/Kds/KdsWebSite/App_WebReferences/DriverStation/WSkds.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getZihuiUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getZihuiUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getZihuiUserResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getZihuiUserSoapIn">
    <wsdl:part name="parameters" element="tns:getZihuiUser" />
  </wsdl:message>
  <wsdl:message name="getZihuiUserSoapOut">
    <wsdl:part name="parameters" element="tns:getZihuiUserResponse" />
  </wsdl:message>
  <wsdl:portType name="WSkdsSoap">
    <wsdl:operation name="getZihuiUser">
      <wsdl:input message="tns:getZihuiUserSoapIn" />
      <wsdl:output message="tns:getZihuiUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSkdsSoap" type="tns:WSkdsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getZihuiUser">
      <soap:operation soapAction="http://tempuri.org/getZihuiUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSkdsSoap12" type="tns:WSkdsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getZihuiUser">
      <soap12:operation soapAction="http://tempuri.org/getZihuiUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSkds">
    <wsdl:port name="WSkdsSoap" binding="tns:WSkdsSoap">
      <soap:address location="http://tnuadev/DriverStation_ksafim/WSkds.asmx" />
    </wsdl:port>
    <wsdl:port name="WSkdsSoap12" binding="tns:WSkdsSoap12">
      <soap12:address location="http://tnuadev/DriverStation_ksafim/WSkds.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>