Main-WorkCard/Kds/KdsLibrary/Web References/Barcode/wsBarcode.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenerateBarCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateBarCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateBarCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateBarCodeNoTag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateBarCodeNoTagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateBarCodeNoTagResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerateBarCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateBarCode" />
  </wsdl:message>
  <wsdl:message name="GenerateBarCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateBarCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateBarCodeNoTagSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateBarCodeNoTag" />
  </wsdl:message>
  <wsdl:message name="GenerateBarCodeNoTagSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateBarCodeNoTagResponse" />
  </wsdl:message>
  <wsdl:portType name="wsBarCodeSoap">
    <wsdl:operation name="GenerateBarCode">
      <wsdl:input message="tns:GenerateBarCodeSoapIn" />
      <wsdl:output message="tns:GenerateBarCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateBarCodeNoTag">
      <wsdl:input message="tns:GenerateBarCodeNoTagSoapIn" />
      <wsdl:output message="tns:GenerateBarCodeNoTagSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsBarCodeSoap" type="tns:wsBarCodeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateBarCode">
      <soap:operation soapAction="http://tempuri.org/GenerateBarCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateBarCodeNoTag">
      <soap:operation soapAction="http://tempuri.org/GenerateBarCodeNoTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsBarCodeSoap12" type="tns:wsBarCodeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateBarCode">
      <soap12:operation soapAction="http://tempuri.org/GenerateBarCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateBarCodeNoTag">
      <soap12:operation soapAction="http://tempuri.org/GenerateBarCodeNoTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsBarCode">
    <wsdl:port name="wsBarCodeSoap" binding="tns:wsBarCodeSoap">
      <soap:address location="http://192.168.2.42/BarCode/wsBarcode.asmx" />
    </wsdl:port>
    <wsdl:port name="wsBarCodeSoap12" binding="tns:wsBarCodeSoap12">
      <soap12:address location="http://192.168.2.42/BarCode/wsBarcode.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>