Main/Kds/KdsBatch/Web References/premyot/wsPremyot.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalcPremyotNihulTnua">
        <s:complexType />
      </s:element>
      <s:element name="CalcPremyotNihulTnuaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcPremyotNihulTnuaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcPremyotNihulTnuaToMonth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dMonthYear" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcPremyotNihulTnuaToMonthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcPremyotNihulTnuaToMonthResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalcPremyotNihulTnuaSoapIn">
    <wsdl:part name="parameters" element="tns:CalcPremyotNihulTnua" />
  </wsdl:message>
  <wsdl:message name="CalcPremyotNihulTnuaSoapOut">
    <wsdl:part name="parameters" element="tns:CalcPremyotNihulTnuaResponse" />
  </wsdl:message>
  <wsdl:message name="CalcPremyotNihulTnuaToMonthSoapIn">
    <wsdl:part name="parameters" element="tns:CalcPremyotNihulTnuaToMonth" />
  </wsdl:message>
  <wsdl:message name="CalcPremyotNihulTnuaToMonthSoapOut">
    <wsdl:part name="parameters" element="tns:CalcPremyotNihulTnuaToMonthResponse" />
  </wsdl:message>
  <wsdl:portType name="wsPremyotSoap">
    <wsdl:operation name="CalcPremyotNihulTnua">
      <wsdl:input message="tns:CalcPremyotNihulTnuaSoapIn" />
      <wsdl:output message="tns:CalcPremyotNihulTnuaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalcPremyotNihulTnuaToMonth">
      <wsdl:input message="tns:CalcPremyotNihulTnuaToMonthSoapIn" />
      <wsdl:output message="tns:CalcPremyotNihulTnuaToMonthSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsPremyotSoap" type="tns:wsPremyotSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcPremyotNihulTnua">
      <soap:operation soapAction="http://tempuri.org/CalcPremyotNihulTnua" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcPremyotNihulTnuaToMonth">
      <soap:operation soapAction="http://tempuri.org/CalcPremyotNihulTnuaToMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsPremyotSoap12" type="tns:wsPremyotSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcPremyotNihulTnua">
      <soap12:operation soapAction="http://tempuri.org/CalcPremyotNihulTnua" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcPremyotNihulTnuaToMonth">
      <soap12:operation soapAction="http://tempuri.org/CalcPremyotNihulTnuaToMonth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsPremyot">
    <wsdl:port name="wsPremyotSoap" binding="tns:wsPremyotSoap">
      <soap:address location="http://premyottst/wsPremyot.asmx" />
    </wsdl:port>
    <wsdl:port name="wsPremyotSoap12" binding="tns:wsPremyotSoap12">
      <soap12:address location="http://premyottst/wsPremyot.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>