Main-version10.0-LicenseNumber/Kds/KdsClocks/Service References/syInterfaceWS/IMalalservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="urn:DB" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="urn:MalalIntf" name="IMalalservice" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns="urn:MalalIntf" targetNamespace="urn:MalalIntf">
      <xs:simpleType name="TEnumTest">
        <xs:restriction base="xs:string">
          <xs:enumeration value="etNone" />
          <xs:enumeration value="etAFew" />
          <xs:enumeration value="etSome" />
          <xs:enumeration value="etAlot" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="TDoubleArray">
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:sequence />
            <xs:attribute xmlns:n1="http://schemas.xmlsoap.org/wsdl/" n1:arrayType="xs:double[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TMyEmployee">
        <xs:sequence>
          <xs:element name="LastName" type="xs:string" />
          <xs:element name="FirstName" type="xs:string" />
          <xs:element name="Salary" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="THarmonyEmp">
        <xs:sequence>
          <xs:element name="No" type="xs:double" />
          <xs:element name="FirstName" type="xs:string" />
          <xs:element name="LastName" type="xs:string" />
          <xs:element name="DateStart" type="xs:dateTime" />
          <xs:element name="DateEnd" type="xs:dateTime" />
          <xs:element name="GroupCode" type="xs:string" />
          <xs:element name="GroupDescr" type="xs:string" />
          <xs:element name="EClass" type="xs:int" />
          <xs:element name="Authortype" type="xs:double" />
          <xs:element name="PassportNo" type="xs:string" />
          <xs:element name="RateProcent" type="xs:int" />
          <xs:element name="NickName" type="xs:string" />
          <xs:element name="DailyTransport" type="xs:double" />
          <xs:element name="FixTransport" type="xs:double" />
          <xs:element name="PayrollID" type="xs:string" />
          <xs:element name="EmmigrationDate" type="xs:dateTime" />
          <xs:element name="JobCode" type="xs:int" />
          <xs:element name="JobDescr" type="xs:string" />
          <xs:element name="MeritalCode" type="xs:int" />
          <xs:element name="MeritalDescr" type="xs:string" />
          <xs:element name="Active" type="xs:boolean" />
          <xs:element name="StationCode" type="xs:string" />
          <xs:element name="StationDescr" type="xs:string" />
          <xs:element name="DepartmentCode" type="xs:string" />
          <xs:element name="DepartmentDescr" type="xs:string" />
          <xs:element name="SectionCode" type="xs:string" />
          <xs:element name="SectionDescr" type="xs:string" />
          <xs:element name="FactoryCode" type="xs:string" />
          <xs:element name="FactoryDescr" type="xs:string" />
          <xs:element name="RegionCode" type="xs:string" />
          <xs:element name="RegionDescr" type="xs:string" />
          <xs:element name="Tag" type="xs:string" />
          <xs:element name="TagStartDate" type="xs:dateTime" />
          <xs:element name="TagEndDate" type="xs:dateTime" />
          <xs:element name="TagType" type="xs:int" />
          <xs:element name="TagStatus" type="xs:int" />
          <xs:element name="TagReson" type="xs:int" />
          <xs:element name="TagResonDescr" type="xs:string" />
          <xs:element name="TagTypeCreated" type="xs:int" />
          <xs:element name="TagVersion" type="xs:string" />
          <xs:element name="SGCode" type="xs:int" />
          <xs:element name="SGDescr" type="xs:string" />
          <xs:element name="SG2LevelOrg" type="xs:int" />
          <xs:element name="SG2CodeOrg" type="xs:string" />
          <xs:element name="SGDateFrom" type="xs:dateTime" />
          <xs:element name="SGDateTo" type="xs:dateTime" />
          <xs:element name="Enroll" type="xs:boolean" />
          <xs:element name="FPU" type="xs:boolean" />
          <xs:element name="Pic" type="xs:string" />
          <xs:element name="EmpType" type="xs:int" />
          <xs:element name="ClndType" type="xs:string" />
          <xs:element name="PatternNo" type="xs:int" />
          <xs:element name="MealType" type="xs:int" />
          <xs:element name="CardTemplateDefault" type="xs:int" />
          <xs:element name="SafetyTrainingDate" type="xs:dateTime" />
          <xs:element name="AssignToPoint" type="xs:string" />
          <xs:element name="ContactCodeList" type="xs:string" />
          <xs:element name="ContactNumberList" type="xs:string" />
          <xs:element name="CarNo" type="xs:string" />
          <xs:element name="CarType" type="xs:int" />
          <xs:element name="CompanyId" type="xs:int" />
          <xs:element name="CompanyDescr" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="urn:DB" targetNamespace="urn:DB">
      <xs:complexType name="TBlobByteData">
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:sequence />
            <xs:attribute xmlns:n1="http://schemas.xmlsoap.org/wsdl/" n1:arrayType="xs:unsignedByte[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="echoEnum0Request">
    <part name="Value" type="ns1:TEnumTest" />
  </message>
  <message name="echoEnum0Response">
    <part name="return" type="ns1:TEnumTest" />
  </message>
  <message name="echoDoubleArray1Request">
    <part name="Value" type="ns1:TDoubleArray" />
  </message>
  <message name="echoDoubleArray1Response">
    <part name="return" type="ns1:TDoubleArray" />
  </message>
  <message name="echoMyEmployee2Request">
    <part name="Value" type="ns1:TMyEmployee" />
  </message>
  <message name="echoMyEmployee2Response">
    <part name="return" type="ns1:TMyEmployee" />
  </message>
  <message name="echoDouble3Request">
    <part name="Value" type="xs:double" />
  </message>
  <message name="echoDouble3Response">
    <part name="return" type="xs:double" />
  </message>
  <message name="HarmonyLogIn4Request" />
  <message name="HarmonyLogIn4Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="HarmonyLogOut5Request" />
  <message name="HarmonyLogOut5Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="XmlUpdateEmployee6Request">
    <part name="einXML" type="xs:string" />
  </message>
  <message name="XmlUpdateEmployee6Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="XmlDeleteEmployee7Request">
    <part name="einXML" type="xs:string" />
  </message>
  <message name="XmlDeleteEmployee7Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="XmlGetEmployeeDetails8Request">
    <part name="einXML" type="xs:string" />
  </message>
  <message name="XmlGetEmployeeDetails8Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="XmlTest9Request">
    <part name="einXML" type="xs:string" />
  </message>
  <message name="XmlTest9Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="SQLRecordSetToXML10Request">
    <part name="sql" type="xs:string" />
  </message>
  <message name="SQLRecordSetToXML10Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="XmlUpdateClient11Request">
    <part name="einXML" type="xs:string" />
  </message>
  <message name="XmlUpdateClient11Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="XmlDeleteClient12Request">
    <part name="einXML" type="xs:string" />
  </message>
  <message name="XmlDeleteClient12Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="echoXmlUpdateEmployee13Request">
    <part name="Value" type="ns1:THarmonyEmp" />
  </message>
  <message name="echoXmlUpdateEmployee13Response">
    <part name="return" type="xs:boolean" />
  </message>
  <message name="SetUnsetDebugging14Request">
    <part name="xValue" type="xs:boolean" />
  </message>
  <message name="SetUnsetDebugging14Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="EmpPictureAsBlobToClient15Request">
    <part name="sql" type="xs:string" />
  </message>
  <message name="EmpPictureAsBlobToClient15Response">
    <part name="return" type="ns2:TBlobByteData" />
  </message>
  <message name="EmpPictureAsBlobToService16Request">
    <part name="xEmpNo" type="xs:string" />
    <part name="xBlobSTR" type="xs:string" />
  </message>
  <message name="EmpPictureAsBlobToService16Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="EmpPictureAsFileToService17Request">
    <part name="xFileName" type="xs:string" />
    <part name="xEmp_No" type="xs:string" />
  </message>
  <message name="EmpPictureAsFileToService17Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="WSImportEmpBuffer18Request">
    <part name="forceRollBack" type="xs:unsignedByte" />
    <part name="EmpNo" type="xs:double" />
    <part name="strParam" type="xs:string" />
    <part name="intParam" type="xs:int" />
  </message>
  <message name="WSImportEmpBuffer18Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="WSRunCommandLine19Request">
    <part name="exeCmdType" type="xs:int" />
    <part name="exeProg" type="xs:string" />
    <part name="params" type="xs:string" />
  </message>
  <message name="WSRunCommandLine19Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="TEVAOpenCATicket20Request">
    <part name="TicketINIType" type="xs:string" />
    <part name="CATicketErrMsg" type="xs:string" />
  </message>
  <message name="TEVAOpenCATicket20Response">
    <part name="return" type="xs:string" />
  </message>
  <portType name="IMalal">
    <operation name="echoEnum">
      <input message="tns:echoEnum0Request" />
      <output message="tns:echoEnum0Response" />
    </operation>
    <operation name="echoDoubleArray">
      <input message="tns:echoDoubleArray1Request" />
      <output message="tns:echoDoubleArray1Response" />
    </operation>
    <operation name="echoMyEmployee">
      <input message="tns:echoMyEmployee2Request" />
      <output message="tns:echoMyEmployee2Response" />
    </operation>
    <operation name="echoDouble">
      <input message="tns:echoDouble3Request" />
      <output message="tns:echoDouble3Response" />
    </operation>
    <operation name="HarmonyLogIn">
      <input message="tns:HarmonyLogIn4Request" />
      <output message="tns:HarmonyLogIn4Response" />
    </operation>
    <operation name="HarmonyLogOut">
      <input message="tns:HarmonyLogOut5Request" />
      <output message="tns:HarmonyLogOut5Response" />
    </operation>
    <operation name="XmlUpdateEmployee">
      <input message="tns:XmlUpdateEmployee6Request" />
      <output message="tns:XmlUpdateEmployee6Response" />
    </operation>
    <operation name="XmlDeleteEmployee">
      <input message="tns:XmlDeleteEmployee7Request" />
      <output message="tns:XmlDeleteEmployee7Response" />
    </operation>
    <operation name="XmlGetEmployeeDetails">
      <input message="tns:XmlGetEmployeeDetails8Request" />
      <output message="tns:XmlGetEmployeeDetails8Response" />
    </operation>
    <operation name="XmlTest">
      <input message="tns:XmlTest9Request" />
      <output message="tns:XmlTest9Response" />
    </operation>
    <operation name="SQLRecordSetToXML">
      <input message="tns:SQLRecordSetToXML10Request" />
      <output message="tns:SQLRecordSetToXML10Response" />
    </operation>
    <operation name="XmlUpdateClient">
      <input message="tns:XmlUpdateClient11Request" />
      <output message="tns:XmlUpdateClient11Response" />
    </operation>
    <operation name="XmlDeleteClient">
      <input message="tns:XmlDeleteClient12Request" />
      <output message="tns:XmlDeleteClient12Response" />
    </operation>
    <operation name="echoXmlUpdateEmployee">
      <input message="tns:echoXmlUpdateEmployee13Request" />
      <output message="tns:echoXmlUpdateEmployee13Response" />
    </operation>
    <operation name="SetUnsetDebugging">
      <input message="tns:SetUnsetDebugging14Request" />
      <output message="tns:SetUnsetDebugging14Response" />
    </operation>
    <operation name="EmpPictureAsBlobToClient">
      <input message="tns:EmpPictureAsBlobToClient15Request" />
      <output message="tns:EmpPictureAsBlobToClient15Response" />
    </operation>
    <operation name="EmpPictureAsBlobToService">
      <input message="tns:EmpPictureAsBlobToService16Request" />
      <output message="tns:EmpPictureAsBlobToService16Response" />
    </operation>
    <operation name="EmpPictureAsFileToService">
      <input message="tns:EmpPictureAsFileToService17Request" />
      <output message="tns:EmpPictureAsFileToService17Response" />
    </operation>
    <operation name="WSImportEmpBuffer">
      <input message="tns:WSImportEmpBuffer18Request" />
      <output message="tns:WSImportEmpBuffer18Response" />
    </operation>
    <operation name="WSRunCommandLine">
      <input message="tns:WSRunCommandLine19Request" />
      <output message="tns:WSRunCommandLine19Response" />
    </operation>
    <operation name="TEVAOpenCATicket">
      <input message="tns:TEVAOpenCATicket20Request" />
      <output message="tns:TEVAOpenCATicket20Response" />
    </operation>
  </portType>
  <binding name="IMalalbinding" type="tns:IMalal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="echoEnum">
      <soap:operation soapAction="urn:MalalIntf-IMalal#echoEnum" style="rpc" />
      <input message="tns:echoEnum0Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:echoEnum0Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="echoDoubleArray">
      <soap:operation soapAction="urn:MalalIntf-IMalal#echoDoubleArray" style="rpc" />
      <input message="tns:echoDoubleArray1Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:echoDoubleArray1Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="echoMyEmployee">
      <soap:operation soapAction="urn:MalalIntf-IMalal#echoMyEmployee" style="rpc" />
      <input message="tns:echoMyEmployee2Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:echoMyEmployee2Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="echoDouble">
      <soap:operation soapAction="urn:MalalIntf-IMalal#echoDouble" style="rpc" />
      <input message="tns:echoDouble3Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:echoDouble3Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="HarmonyLogIn">
      <soap:operation soapAction="urn:MalalIntf-IMalal#HarmonyLogIn" style="rpc" />
      <input message="tns:HarmonyLogIn4Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:HarmonyLogIn4Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="HarmonyLogOut">
      <soap:operation soapAction="urn:MalalIntf-IMalal#HarmonyLogOut" style="rpc" />
      <input message="tns:HarmonyLogOut5Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:HarmonyLogOut5Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="XmlUpdateEmployee">
      <soap:operation soapAction="urn:MalalIntf-IMalal#XmlUpdateEmployee" style="rpc" />
      <input message="tns:XmlUpdateEmployee6Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:XmlUpdateEmployee6Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="XmlDeleteEmployee">
      <soap:operation soapAction="urn:MalalIntf-IMalal#XmlDeleteEmployee" style="rpc" />
      <input message="tns:XmlDeleteEmployee7Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:XmlDeleteEmployee7Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="XmlGetEmployeeDetails">
      <soap:operation soapAction="urn:MalalIntf-IMalal#XmlGetEmployeeDetails" style="rpc" />
      <input message="tns:XmlGetEmployeeDetails8Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:XmlGetEmployeeDetails8Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="XmlTest">
      <soap:operation soapAction="urn:MalalIntf-IMalal#XmlTest" style="rpc" />
      <input message="tns:XmlTest9Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:XmlTest9Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SQLRecordSetToXML">
      <soap:operation soapAction="urn:MalalIntf-IMalal#SQLRecordSetToXML" style="rpc" />
      <input message="tns:SQLRecordSetToXML10Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:SQLRecordSetToXML10Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="XmlUpdateClient">
      <soap:operation soapAction="urn:MalalIntf-IMalal#XmlUpdateClient" style="rpc" />
      <input message="tns:XmlUpdateClient11Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:XmlUpdateClient11Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="XmlDeleteClient">
      <soap:operation soapAction="urn:MalalIntf-IMalal#XmlDeleteClient" style="rpc" />
      <input message="tns:XmlDeleteClient12Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:XmlDeleteClient12Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="echoXmlUpdateEmployee">
      <soap:operation soapAction="urn:MalalIntf-IMalal#echoXmlUpdateEmployee" style="rpc" />
      <input message="tns:echoXmlUpdateEmployee13Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:echoXmlUpdateEmployee13Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SetUnsetDebugging">
      <soap:operation soapAction="urn:MalalIntf-IMalal#SetUnsetDebugging" style="rpc" />
      <input message="tns:SetUnsetDebugging14Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:SetUnsetDebugging14Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="EmpPictureAsBlobToClient">
      <soap:operation soapAction="urn:MalalIntf-IMalal#EmpPictureAsBlobToClient" style="rpc" />
      <input message="tns:EmpPictureAsBlobToClient15Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:EmpPictureAsBlobToClient15Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="EmpPictureAsBlobToService">
      <soap:operation soapAction="urn:MalalIntf-IMalal#EmpPictureAsBlobToService" style="rpc" />
      <input message="tns:EmpPictureAsBlobToService16Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:EmpPictureAsBlobToService16Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="EmpPictureAsFileToService">
      <soap:operation soapAction="urn:MalalIntf-IMalal#EmpPictureAsFileToService" style="rpc" />
      <input message="tns:EmpPictureAsFileToService17Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:EmpPictureAsFileToService17Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="WSImportEmpBuffer">
      <soap:operation soapAction="urn:MalalIntf-IMalal#WSImportEmpBuffer" style="rpc" />
      <input message="tns:WSImportEmpBuffer18Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:WSImportEmpBuffer18Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="WSRunCommandLine">
      <soap:operation soapAction="urn:MalalIntf-IMalal#WSRunCommandLine" style="rpc" />
      <input message="tns:WSRunCommandLine19Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:WSRunCommandLine19Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="TEVAOpenCATicket">
      <soap:operation soapAction="urn:MalalIntf-IMalal#TEVAOpenCATicket" style="rpc" />
      <input message="tns:TEVAOpenCATicket20Request">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:TEVAOpenCATicket20Response">
        <soap:body use="encoded" namespace="urn:MalalIntf-IMalal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="IMalalservice">
    <port name="IMalalPort" binding="tns:IMalalbinding">
      <soap:address location="http://harmonytst01/eharmony/interface/syInterface.dll/soap/IMalal" />
    </port>
  </service>
</definitions>